<a href="https://colab.research.google.com/github/junkgamestuff/python-exercises/blob/master/Python_Language_Basics_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variable and String

What is a variable?

An item, given a name, that is assigned a stored value to be used later in a program.

Create three variables, one storing an int, another a string, and the last one of your full name

In [ ]:
# enter code here (remember this a comment and ignored when the code is ran)
var1 = 5
var2 = "Hey how's it going?"
var3 = "Michael Juarez"

Using the variable which contains your name above, what does name[1] return?

In [ ]:
# enter code here
var3[1]

'i'

What about name[-2]

In [ ]:
var3[-2]

'e'

what about name[1:-1]

In [ ]:
var3[1:-1]

'ichael Juare'

See if you can reverse your name using slice notation

In [ ]:
var3[::-1]

'zerauJ leahciM'

The last three questions are known as indexing, which we will use a lot in this class.

How do you get and what is the length of name?  Hint: use the function len()

In [ ]:
len(var3)

14

What is the main difference between attributes and methods for a data type? Hint: Google is your friend

An attribute is a value, a method is a function.

What is the difference between 10 / 3 and 10 // 3?

In [ ]:
10/3

3.3333333333333335

In [ ]:
type(10/3)

float

In [ ]:
10//3

3

In [ ]:
type(10//3)

int

10/3 results in a float numeric type. 10//3 results in an int numeric type.

What is the result of 10 ** 3?

In [ ]:
10**3

1000

Create a variable x = 1
What will be the value of after you run x += 2?

In [3]:
x = 1
x += 2
x

3

What is the result of float(1)?

In [ ]:
float(1)

1.0

What is the result of bool("False")? Why is the result the way it is?

In [ ]:
bool("False")

True

The result is the way it is because a value is set and therefore is true. If bool were set to empty or blank, the boolean value would be false.

In [6]:
bool()

False

What is the result of 10 == "10"?  Why is the result the way it is?

In [ ]:
10 == "10"

False

In [7]:
type(10=="10")

bool

The result is the way it is because the "==" operator is attempting to compare different data types, one a numeric int, the other a string. Because the two are not equal data types, the result is a boolean type.

What is the result of "bag" > "apple"?  Why is the result the way it is?

In [ ]:
"bag" > "apple"

True

In [ ]:
ord("b")

98

In [ ]:
ord("a")

97

The unicode value of b is higher than the unicode value of a, so "bag" is greater than "apple".

Under what circumstances does the expression 18 <= age < 65 evaluate to True?

In [ ]:
18 <= 18 < 65

True

What does range(1, 10, 2) return?

In [18]:
r = range(1,10,2)
r

range(1, 10, 2)

In [19]:
for n in r:
  print(n)

1
3
5
7
9

In [10]:
type(r)

range

### Mutable and immutable objects

What is the difference between mutable and immutable objects?

Mutable objects can be changed by manipulation, immutable objects cannot be changed by manipulation.

What data types are mutable and which ones are immutable

Lists are mutable, strings are immutable

Create a variable that stores a list

In [21]:
var4 = [1,2,3,4,5]
type(var4)

list

Now change the value of the first element above

In [22]:
var4[0] = 222
print(var4)

[222, 2, 3, 4, 5]

Now change the list to an empty list

In [23]:
var4[:]=""
print(var4)

[]

In [24]:
type(var4)

list

With the empty list, populate it with any values to make it a length of 10

In [25]:
var4 = []
for i in range(10):
  var4.append(i)
print(var4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
len(var4)

10

Now take a slice of the above list and save it to another variable (can be whatever positions you want)

In [27]:
var5 = var4[-6:-3]
print(var5)

[4, 5, 6]

Take this new list and concatenate it with the list above it

In [28]:
var4 + var5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6]